*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root{
  --accent-pink: #dc6e94;
  --accent-beige: #FAFAF8;
  --accent-navy: ;
}

@font-face {
  font-family: 'Silk Flower';
  src: url('fonts/SilkFlower.otf');
}

html{
  scroll-behavior:smooth;
}

body{
  background-image: url("assets/paperseamless1.jpg");
  color:#074773;
  font-family:'Manrope';
  font-weight: 500;
  cursor: none;
}

.hero,
.about,
.schedule,
.apps,
.mods,
.faq {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

.hero.visible,
.about.visible,
.schedule.visible,
.apps.visible,
.mods.visible,
.faq.visible {
  opacity: 1;
  transform: translateY(0);
}

.cursor {
  width: 15px;
  height: 15px;
  background: hotpink;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: width 0.15s ease, height 0.15s ease, transform 0.15s ease;
}

.cursor.hover {
  width: 40px;
  height: 40px;
}

h1{
  font-family: 'Silk Flower';
  font-weight: 200;.
}

h2,h3{
  font-family:'Noto Serif Display',serif;
  font-style: italic;
}

section{
  padding: 50px 8%;
}

header {
  top: 0;
}

.navbar{
  margin:15px;
  padding: 10px 25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom: 1px solid #eb4091;
}

.logo{
  height:70px;
}

.nav-links{
  display:flex;
  gap:50px;
  align-items: center;
}

.nav-links a{
  text-decoration:none;
  color:#074773;
}

.button{
  background-image: url('assets/button1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 600;
  color:white !important;
  padding:16px 35px;
  text-decoration:none;
  font-family: 'Noto Serif display';
  transition: transform .3s ease, filter .3s ease;

}

.button:hover{
  transform: translateY(-2px) !important;
  filter: brightness(.90);
}

.small{
  padding:12px 30px;
}

.buttonsecondary{
  background-image: url('assets/button2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #dc6e94;
  padding:16px 35px;
  text-decoration:none;
  display:inline-block;
  font-family: 'Noto Serif display';
  font-weight: 700;
  transition: transform 0.25s ease;
}

.buttonsecondary:hover{
  transform: translateY(-2px);
    filter: brightness(.95);
}

.hero{
  min-height:85vh;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:80px;
  padding: 20px 10% 40px 10%;
  overflow: hidden;
}

.eyebrow{
  color:#dc6e94;
  letter-spacing:2px;
  text-transform:uppercase;
}

.hero h1{
  font-size:6rem;
  line-height:1;
  margin:20px 0;
}

.hero h2 {
  padding-bottom: 20px;
  font-weight: 300;
  color: var(--accent-pink);
}

.hero p{
  font-size:1.2rem;
  max-width:500px;
  line-height:1.8;
}

.hero-text{
  padding-top: 40px;
}


.hero-buttons{
  margin-top:40px;
  display:flex;
  gap:20px;
}

.hero-image{
  position:relative;
  margin-bottom: -150px;
}

.hero-image img{
  width:110%;
  height:auto;
  object-fit:cover;
}

.about{

    display:grid;
    grid-template-columns:1fr 2fr;
    gap:80px;
    color: #F7F7F7;
    align-items:center;
    text-align:left;
    background-image: url(assets/paperseamlessnsavy1.jpg);
    padding-bottom: 150px !important;
    padding-top: 100px !important;
}

.about h2, h3 {
  color: #F7C9DA;
}

.about-left p{

    margin:25px 0;
    padding-bottom: 20px;
    line-height:1.8;
}

.about-features{

    display:grid;
    grid-template-columns:repeat(3,1fr);
}

.feature{

    padding:0 30px;
    text-align:center;
    border-left:1px solid rgb(247, 201, 218);
}

.feature:first-child{

    border-left:none;
}

.feature img{

    width: auto;
    height: 85px;
    margin-bottom:20px;
}

.feature h3{

    margin-bottom:12px;
    font-size:1.4rem;
}


@media (max-width: 992px) {
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-features {
        grid-template-columns: 1fr;
    }

    .feature {
        border-left: none;
        border-top: 1px solid rgb(247, 201, 218);
        padding: 30px 0;
    }

    .feature:first-child {
        border-top: none;
    }
}

.about h2,
.apps h2,
.mods h2,
.faq h2{
  font-size:3rem;
  margin-bottom:30px;
}

.section-text{
  max-width:700px;
  margin:auto;
  line-height:2;
}

.stats{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:40px;
  margin-top:70px;
}

.schedule{
  background-image: url(assets/paperseamlessbeige1.jpg);
  margin-top: -78px;
  overflow: hidden;
}

.schedule h2{
  font-size:3rem;
  margin-bottom:-90px;
  position: relative;
  left: 150px;
}

.schedule-container{
    display:flex;
    grid-template-columns:minmax(420px, 55%) 1fr;
    align-items:center;
    gap:4rem;
}

.schedule-collage{
   top: 100px;
    position:relative;
}

.schedule-collage img{
    display:block;
    height: 800px;
    margin-left:calc(-8vw);
    margin-top: -150px;
    width:auto;

}

.timeline {
  width: 100%;
  border-collapse: collapse;
}

.timeline-item td {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--accent-pink);
}

.timeline-item td span {
  color: var(--accent-beige);
  padding: 15px;
  border-radius: 100px;
  background-color: var(--accent-pink);
  font-family: 'Noto Serif Display';
  font-weight: 600;
  font-size: 1.2em;
}

.timeline-item td:first-child {
  width: 70px;
}

.timeline-item td:last-child {
  text-align: right;
  white-space: nowrap;
}

.apps{
  text-align:center;
  padding-bottom: 100px;
}

.apps .button {
  font-size: 1.3em;
  transform: scale(1.05);
  transition: transform 0.2s ease, filter 0.2s ease;
}

.apps .button:hover {
  transform: translateY(-2px);
  filter: brightness(0.93);
}

.roles{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:30px;
  margin:60px 0;
  justify-content: space-evenly;
}

.role-card{
  position: relative;
  background-image: url("assets/paperseamlessbeige1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 8px 5px 10px -4px rgba(0,0,0,0.28); 
  box-shadow: 8px 5px 5px -4px rgba(0,0,0,0.28);
  padding: 60px;
  font-family: 'Noto Serif Display';
  max-width: 48%;
}

.role-card::before{
  content: "";
  position: absolute;
  inset: 20px;
  border: 2px dashed var(--accent-pink);
  box-sizing: border-box;

  pointer-events: none;
}

.role-card h3{
  color: var(--accent-pink);
  font-size: 1.4em;
  padding-bottom: 10px;
}

.role-card p {
  font-family: 'Manrope';
}

.role-card img {
  height: 100px;
  width: auto;
}

.mods{
    background-image: url("assets/paperseamlesspink1.jpg");
    text-align:center;
}

.mods .section-text{
    max-width:650px;
    margin:0 auto 60px;
}

.mods-grid{

    display:flex;
    justify-content:center;
    gap:3rem;
    flex-wrap:wrap;
}

.mod-card{

    width:230px;
    background:transparent;
    box-shadow:none;
    padding:0;
    text-align:center;
}

.polaroid{

    position:relative;

    background-image: url("assets/paperseamless1.jpg");
    padding:12px 12px 45px;

    box-shadow:0 3px 15px rgba(0,0,0,.15);

    transition:.35s;
    overflow:hidden;

    transform:rotate(-3deg);
}

.mod-card:nth-child(even) .polaroid{
    transform:rotate(3deg);
}

.mod-card:hover .polaroid{

    transform:translateY(-12px) rotate(0deg);
}

.polaroid::before{

    content:"";

    position:absolute;
    top:-10px;
    left:50%;

    transform:translateX(-50%) rotate(-2deg);

    width:65px;
    height:18px;

    background:rgba(220,110,148,.65);

    border-radius:2px;

    z-index:20;
}

.polaroid img{

    width:100%;
    aspect-ratio:1/1.15;
    object-fit:cover;
    display:block;
}

.overlay{

    position:absolute;

    top:12px;
    left:12px;
    right:12px;
    bottom:45px;

    background:rgba(220,110,148,.92);

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:20px;

    text-align:center;

    opacity:0;
    transition:.3s;
}

.polaroid:hover .overlay{

    opacity:1;
}

.overlay h4{

    font-family:'Noto Serif Display';
    margin-bottom:12px;
    font-size:1.2rem;
}

.overlay p{

    font-size:.85rem;
    line-height:1.6;
}

.mod-card h3{

    margin-top:18px;
    color:#074773;
}

.mod-card span{

    display:block;
    margin-top:6px;
    color:#5f7085;
    font-size:.9rem;
}

.faq{
  max-width:1000px;
  margin:auto;
}

details{
  background-image: url(assets/long2.png);
  background-repeat: no-repeat;
  background-size: 100% 70px;
  background-position: top;
  margin-top:20px;
  padding:25px 80px;
  font-family:'Noto Serif Display';
  font-size:1.3em;
  height:100%;   /* <- faltaba este ; */
  transition: transform .3s ease, filter .3s ease;
}

details:hover{
    transform: translateY(-2px);
    filter: brightness(.95);
}

summary{
  cursor:pointer;
    list-style: none;
  font-weight:600;
}

details p{
  margin-top:20px;
  font-size: 0.8em;
  line-height:1.8;
  font-family:'Manrope';
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height .35s ease, opacity .35s ease;
}

details[open] p{
    max-height: 500px; /* mayor que el contenido */
    opacity: 1;
}

@media (max-width: 768px){

  details{
    background-size: 100% 100%;
    padding: 20px;
  }

  summary{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    width: 100%;
    font-size: 1rem;
    justify-content: center;
  }

  summary span{
    flex: 1;
  }
}

footer{
  padding:80px;
  text-align:center;
}

footer img{
  height:70px;
  margin-bottom:20px;
}

.divider-top {
  background-image: url("assets/tornpaper1.png");
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  transform: translateY(-32px);
}

.divider-bottom {
  height: 80px;
  background-image: url("assets/tornpaper1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transform: translateY(-33px);
}

.navy{
  background:#074773;
}

.pink{
  background:#f8c9da;
}

@media(max-width:900px){

  .hero{
    grid-template-columns:1fr;
  }

  .hero h1{
    font-size:4rem;
  }

  .stats,
  .roles,
  .mods-grid{
    grid-template-columns:1fr;
  }

  .nav-links{
    display:none;
  }

}